.main-image{
    width:30%;
    
}
.main{
    text-align:center;
    font-size:30px;
    background-color:yellow;
    font-weight:800;
    padding:10px;
}
.main2{
    text-align:center;
    font-size:30px;
    background-color:yellow;
    font-weight:800;
    padding:10px;
}
.image-style{
    display:flex;
    justify-content:center;
    width:105%;
    margin:25px 5px 0px;
}
.border{
    border:solid black 5px;
    background-color:blue;
    padding:25px;
    margin:25px 80px 3px;
}
.mariopic{
    text-align:center;
    width:10%;
    margin:-90px 5px 0px 125px;
}
body{
    background-color:red;
}
.button{
    text-align:center;
}
p-10{
    text-align:center;
    font-size:30px;
    background-color:purple;
    color:white;
}
.congrats{
    display:flex;
    justify-content:center;
    border:solid black 5px;
    margin:97px;
}